<form action="." method="post" id="user_profile_edit">{% csrf_token %}
	{{ form.non_field_errors }} 
	<table>
		{% for field in form %}
			{% if not forloop.counter|divisibleby:2 %}
				<tr>
			{% endif %}
			<td class="form-field">
				<span  class="{% if field.errors %}with-errors{% endif %}">{{field.label_tag}}</span>: {{ field }}
				{% if field.errors %}
					{{ field.errors }}
				{% endif %}
			</td>
			{% if forloop.counter|divisibleby:2 %}
				</tr>
			{% endif %}

		{% endfor %} 
	</table>	
  	<input type="submit" value="Save" name="Form_save"  /> <a href = {% url main-page %}>Cancel</a><img id="ajaxBusy" src="{{STATIC_URL}}images/busy.gif"></p>
</form>