{% extends 'base.html' %}

{% block extra_head %}
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/init_set_priority.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block content %}


<div id="dialog" title="Set Priority"></div>

<div "sort">
	{% if sort_by_priority %}
		<a href="{% url last-requests %}">Sort By Time</a>
	{% else %}
		<a href="{% url last-requests-by-priority %}">Sort By Priority</a>
	{% endif %}
</div>

</br>

{% for req in object_list%}
	<div class="request">
			<form action="{% url set-request-priority req.id%}"
				  method="GET" class="get-priority-form" 
				  title="{{ req.get_full_html_description }}">
				{{ req }}
				<input class="priority_set" type="submit" value="Set Priority"/>
			</form>
	</div>
	<hr>
{% endfor %}


{% block pagination %}
<hr></br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}


{% endblock %}
