{% extends 'base.html' %}
{% block content %}
{% for req in object_list%}
	<div class="request"><p title="{{ req.get_full_html_description }}">{{ req }}</p></div>
{% endfor %}


{% block pagination %}
<hr></br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}


{% endblock %}
