{% extends 'base.html' %}

{% block extra_head %}
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/init_set_priority.js" type="text/javascript"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen, projection" />
{% endblock %}

{% block content %}

	
	<div id="dialog" title="Set Priority"></div>
	
	</br>
	
	<table id="last-requests-table">
		<tr>
			<th>time</th>
			<th>ip</th>
			<th>method</th>
			<th>url</th>
			<th>user</th>
			<th>priority</th>
			<th>...</th>
		</tr>
	{% for req in object_list%}
		<tr>
			<td>{{ req.time }}</td>
			<td>{{ req.remote_ip }}</td>
			<td>{{ req.method }}</td>
			<td>{{ req.path }}</td>
			<td>{{ req.user }}</td>
			<td>{{ req.priority }}</td>
			<td>
				<form action="{% url set-request-priority req.id%}"
 				  method="GET" class="get-priority-form" 
				  title="{{ req.get_full_html_description }}">
 				<input class="priority_set" type="submit" value="Set Priority"/>
 			</form>
				
			</td>
			
		</tr>
	{% endfor %}
	</table>
{% endblock %}
