<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="title" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    
    <title>{%block title%}42cc-test-pill v2{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen, projection" />
    <script src="{{ STATIC_URL }}js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.corner.js" type="text/javascript" ></script>
    <script src="{{ STATIC_URL }}js/index.js" type="text/javascript" ></script>
    {% block extra_head %}
        
    {% endblock %}

</head>



{% block body %}
    <body background="{{STATIC_URL}}/img/pool_table.png">
    {% block header %}
    <div id="header"><h2>42 Coffee Cups Test Assignment</h2></div>
    {% endblock %}

    <div id="wrapper">
    	
        <div id='menu'>
            {% block menu %}
                <ul>
                	<li><a href="{% url main-page %}" class="menu">Contacts</a></li> |
                	<li><a href="{% url last-requests %}" class="menu">Last requests</a></li> |
                	<li><a href="{% url edit-contacts %}" class="menu">Edit</a></li> 
                	
                	<li style="float: right;">
                	{% if request.user.is_authenticated %}
                		Logged in as {{ request.user.username }} - <a class="menu" href="{% url logout %}">Logout</a>
                	{% else %}
                		<a class="menu" href='{% url login %}'>Login</a></li>
                	{% endif %}
                	</li>
                </ul>
                
                
            {% endblock %}
        </div>
        
	    <div id='content'>
	        {% block content %}
	            content:
	        {% endblock %}
	    </div>
    

    </div>
    </body>
{% endblock %}

{% block footer %}
	<div id="footer">
		<p>current project timezone: {{ settings.TIME_ZONE }}</p>
	</div>
{% endblock %}

</html>

