{% extends 'base.html' %}

{% block content %}
  <form action="." method="post" class="login_form">{% csrf_token %}
  	<table class="login_form_table">
  		
  		<tr>
  			<td>Username</td>
  			<td>Password</td>
  			<td></td>
    	</tr>
  		
  		<tr>
	  		<td>{{ form.username }}</td>
	    	<td>{{ form.password }}</td>
    		<td><button type="submit" name="submit" value="Login">Log in</button></td>
    	</tr>
    	
    	<tr>
    		<td>
    			{% if form.username.errors %} {{ form.username.errors }} {% endif %}
    		</td>
    		<td>
    			{% if form.password.errors %} {{ form.username.errors }} {% endif %}
    		</td>
    		
    	</tr>
    	
    	
    
    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
    <tr>
    	<td colspan="3">
			{% if form.errors %}
				{{ form.non_field_errors }}
			{% endif %}
    	</td>
    </tr>
    </table>
  </form>
{% endblock %}